*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-image: url(https://wallpaperaccess.com/full/2933138.png);
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 16px;
    font-family: Arial,sans-serif;
    height: auto;
    width: 100%;
    background-attachment: fixed;
}

button{
    padding: 5px;
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
    background-color: palevioletred;
}

button a{
    color: white;
}
button:hover{
    letter-spacing: 1px;
}

a{
    color: palevioletred;
}

a:hover{
    text-decoration: none;
    color: rgb(109, 42, 73);
}

.caixa{
    text-align: center;
    background-color: white;
    width: 350px;
    height: auto;
    padding: 50px;
    margin: 9% auto;
    border-radius: 15px;
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

.form{
    position: relative;
    margin-bottom: 1rem;
}

.form input{
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 0, 0);
    opacity: 50%;
    width: 100%;
}

.botoes{
    display: flex;
    justify-content: center;
}

.registrar{
    margin-top: 1.3rem;
    font-size: 17px;
}

.registrar a:hover{
    letter-spacing: 1px;
}

footer{
    text-align: center;
    margin-top: 3rem;
    color: palevioletred;
}

.invalid-feedback{
    font-size: 15px;
}
